# Entornos virtuales de Python
venv/
*.venv
env/
.env

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDEs
.idea/
.vscode/